@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root > main{
  min-height: 85vh;
}

body {
  font-family: 'Source Code Pro', sans-serif;
  background-color: black;
}

p {
  @apply text-base
}

/* TRANSITIONS */

.transition-max-h {
  transition: max-height .2s ease-in-out;
}

.transition-02 {
  transition: .2s ease-in-out;
}
.transition-03 {
  transition: .3s ease-in-out;
}
.transition-04 {
  transition: .4s ease-in-out;
}

/* Inputs */
input, textarea {
  background-color: #171717;;
  color: white;
}

input::placeholder, textarea::placeholder   {
  color: white;
}

@media only screen and (min-width: 640px) {
  .drink-card-wrapper:nth-child(odd) .drink-card-description {
    order: 2;
  }
}

.accordion-wrapper:last-child {
  border-bottom: 1px solid white;
}
.card-wrapper:last-child button{
  display: none;
}

/* classList */
.disable-scroll {
  overflow-y: hidden;
}

.error {
  border: solid 1px red;
}
