@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

#root > main{
  min-height: 85vh;
}

body {
  font-family: 'Source Code Pro', sans-serif;
  background-color: black;
}

p {
  @apply text-base
}

/* TRANSITIONS */

.transition-max-h {
  transition: max-height .2s ease-in-out
}

.transition-02 {
  transition: .2s ease-in-out
}
.transition-03 {
  transition: .3s ease-in-out
}
.transition-04 {
  transition: .4s ease-in-out
}
.transition-05 {
  transition: .5s ease-in-out
}

input, textarea {
  background-color: #171717;;
  color: white;
}

input::placeholder, textarea::placeholder   {
  color: white;
}

@media only screen and (min-width: 640px) {
  .drink-card-wrapper:nth-child(odd) .drink-card-description {
    order: 2;
  }
}

.accordion-wrapper:last-child {
  border-bottom: 1px solid white;
}
.card-wrapper:last-child button{
  display: none;
}

.disable-scroll {
  overflow-y: hidden;
}

.polle {
   transition: opacity .5s ease-in-out;
}

.error {
  border: solid 1px red;
}